body,html {
	font-family: 'Roboto', Futura, Arial, sans-serif;
}

a:hover {
    text-decoration: none;
}

.about-text {
	font-size: 20px;
	line-height: 1.8;
}

.header-row {
	margin-top: 50px;
}

.face-row {

}

.face-img {
	width: 100px;
}

.button-row {
	margin-top: 20px;
	margin-bottom: 40px;

	font-size: 16px;
}

.text-img-box {
	margin-right: 30px;
}

.text-img {
	height: 150px;
}

/* DEMOS */

.demo-box {
	margin-bottom: 20px;
}
