<div class="row header-row">
    <div class="col-xs-12">
        <h1 class="text-center">Daniel Winkler</h1>
    </div>
</div>
<!--
<div class="row face-row text-center">
    <div class="col-xs-12">
        <img src="/img/face1.jpg" class="img-circle face-img"/>
    </div>
</div>
-->
<div class="row button-row text-center">
    <div class="col-xs-2 col-xs-offset-2">
        <a href="/"><strong>Home</strong></a>
    </div>
    <div class="col-xs-2">
        <a href="/portfolio/"><strong>Portfolio</strong></a>
    </div>
    <div class="col-xs-2">
        <a href="/demos/"><strong>Demos</strong></a>
    </div>
    <div class="col-xs-2">
        <a href="/blog/"><strong>Blog</strong></a>
    </div>
</div>
